.main {
    position: absolute;
    top: 4.5%;
    left: 3%;
    right: 0%;
    width: 95%;
}

.sub {
    background-color: black;
    display: inline-block;
    height: 40rem;
    overflow-y: scroll;
    width: 100%;
    /* filter: blur(5px); */
}

#logo-img {
    position: relative;
    left: 80%;
    width: fit-content;
    margin: 0;
}

#logo {
    width: 90%;
    height: 72px;
}

/* top css --- Heading */
.top {
    /* border: 2px solid white; */
    display: grid;
    color: white;
    margin: auto;
    width: 90%;
    grid-template-columns: 25% 55% 20%;
}

/* .topic {
    float: left;
} */

#heading_button {
    /* float: right; */
    margin-top: 15px;
}

#heading_additem {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}



#topic_span {
    font-size: 3rem;
    /* cursor: pointer; */
}

.list {
    font-size: 2rem;
    font-weight: lighter;
}

#plusbutton {
    background-color: rgb(74, 156, 224);
    border-radius: 50%;
    padding: 5px 12px 5px 12px;

}

/* Display none and block */
.displayn {
    display: none;
}

.displayb {
    display: block;
}

/* Main Content */
.content {
    /* border: 2px solid white; */
    height: fit-content;
    margin: auto;
    width: 90%;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#noitems_text {
    width: 100%;
}

/* Main content - page 2 - Individual Card */
.contentalternate {
    color: white;
    /* border: 2px solid white; */
    padding: 10px;
    width: 90%;
    margin: auto;
    display: none;
}

/* Add New List container - Page 2 */
.addnewlist {
    background-color: white;
    width: 30%;
    margin: auto;
    height: 30%;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 35%;

    display: none;
}

.addlistlabeldiv {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 8%;
    color: rgb(255, 77, 0);
}

#addlist {
    width: 80%;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    margin-top: 4%;
    margin-left: 9%;
    margin-bottom: 4%;
}

.buttons_addclose {
    margin: auto;
    width: fit-content;
}

#addbut,
#closebut {
    padding: 5px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 77, 0);
    color: white;
    cursor: pointer;
}

#addbutdialog {
    padding: 5px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 77, 0);
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

/* Card css */
.cardcss {
    width: 260px;
    min-height: 23rem;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    color: rgb(255, 77, 0);
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.maincard {
    /* border: 2px solid black; */
    min-height: 66%;
    margin-bottom: 20%;
    width: 100%;
    word-wrap: break-word;
}

.footer {
    position: absolute;
    right: 3%;
    bottom: 1.5%;
    float: right;
}

.deletecard {
    background-color: rgb(255, 77, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.additems {
    background-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: large;
    font-weight: bolder;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

/* Add New item container - Page 3 */
.addnewitem {
    background-color: white;
    width: 30%;
    margin: auto;
    height: 30%;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 35%;
    display: none;
}

.additemlabeldiv {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 8%;
    color: rgb(255, 77, 0);
}

#additem {
    width: 80%;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    margin-top: 4%;
    margin-left: 9%;
    margin-bottom: 4%;
}

.buttons_addclose {
    margin: auto;
    width: fit-content;
}

#addbut,
#closebut {
    padding: 5px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 77, 0);
    color: white;
    cursor: pointer;
}


.none {
    display: none;
}

.items {
    color: black;
}

.markdone {
    text-decoration: line-through;
    color: red;
}

.markbut {
    border-radius: 10px;
    background-color: rgb(68, 141, 236);
    color: white;
    font-size: x-small;
    margin-left: 10px;
    border: none;
    padding: 4px;
}

.deleteeleicon {
    position: relative;
    top: 5px;
    margin-left: 5px;
}

/* 3rd page card details */
.pageheading {
    text-align: center;
    /* border: 2px solid white; */
    /* margin: 0px 0px 0px 90px; */
    /* display: inline-block; */
    visibility: hidden;
    width: 100%;
    word-wrap: break-word;
}

.cardheadingclass {
    width: 100%;
    word-wrap: break-word;
}

/* Media Query for Tablets */
@media only screen and (min-width:750px) and (max-width:970px) {
    .main {
        width: 93%;
    }

    .sub {
        height: 56.5rem;
    }

    .top {
        width: 95%;
        grid-template-columns: 30% 45% 25%;
    }

    #topic_span {
        font-size: 2.8rem;
    }

    .addnewlist {

        width: 40%;
        height: 20%;
        position: absolute;
        top: 25%;
        left: 30%;
    }

    .addlistlabeldiv {
        margin-top: 12%;
    }
}

@media only screen and (max-width:600px) {
    .main {
        position: static;
        padding: 10px;
    }

    .sub {
        height: 36rem;
        width: 100%;
        /* filter: blur(5px); */
    }

    #logo-img {
        position: relative;
        left: 60%;
        width: fit-content;
        margin: 0;
    }

    #logo {
        width: 100%;
        height: 60px;
    }

    .top {
        /* border: 2px solid white; */
        display: block;
        color: white;
        margin: auto;
        width: 90%;
    }


    #heading_button {
        /* float: right; */
        /* border: 2px solid white; */
        display: block;
        margin: 5px;
        padding: 0px;

        /* margin-top: 5px; */
        text-align: center;
    }

    /* .headingbutton_toggle{
        display: inline-block;
        margin: 5px;
        padding: 0px;
        position: absolute;
        top: 0;
        right: 25px;
        z-index: -2;
    } */

    #heading_additem {
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
    }


    .topic {
        /* border: 2px solid white; */
        /* text-align: center; */
        margin-bottom: 0;
    }

    #topic_span {
        font-size: 2rem;
        /* cursor: pointer; */
    }

    .list {
        font-size: 1.5rem;
        font-weight: lighter;
    }

    #plusbutton {
        background-color: rgb(74, 156, 224);
        border-radius: 50%;
        padding: 5px 12px 5px 12px;
        font-size: medium;
    }

    #headerbuttonlabel {
        font-size: 1.3rem;
    }

    .pageheading {
        text-align: center;
        border: 2px solid white;
        /* margin: 0px 0px 0px 90px; */
        /* display: inline-block; */
        visibility: hidden;
    }

    .content {
        align-items: center;
        justify-content: center;
    }

    .cardcss {
        width: 230px;
        min-height: 20rem;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        color: rgb(255, 77, 0);
        text-align: center;
        box-sizing: border-box;
        position: relative;
    }

    .mobilenone {
        display: none;
    }

    .addnewlist {

        width: 60%;
        height: 24%;
        position: absolute;
        top: 25%;
        left: 18%;
    }

    .addlistlabeldiv {
        margin-top: 12%;
    }
}